.container{
    margin-left: 150px;
}

.title{
   font-size: 64px;
   line-height: 64px;
   margin-left: 0px;
   font-weight: 300;
   font-variant: small-caps;
   font-weight: 700;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   color: rgba(189, 189, 189, 1);
}

.content{
    display: flex;
    justify-content: stretch;
}

input{
    height: 46px;
    width: 500px;
    background-color: rgba(243, 243, 243, 1);
    border: none;
    font-size: 14px;
    line-height: 16.41px;
    font-weight: 400;
    padding-left: 20px;
    color: rgba(141, 141, 141, 1);
}

textarea{
    background-color: rgba(243, 243, 243, 1);
    height: 147px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    color: rgba(141, 141, 141, 1);
}

.content img{
    height: 369px;
    width: 715px;
    margin-left: 40px;
}

.button{
    margin-top: 50px;
    height: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 220px;
    font-size: 12px;
    line-height: 12px;
    background-color: grey;
    color: whitesmoke;
}