.container{
    width: 1565px;
    height: 417px;
    background-color: rgba(44, 44, 44, 1);
}

.main {
    margin-top: 100px;
    display: flex;
}

.image {
    height: 94px;
    width: 145px;
    padding-left: 150px;
    padding-top: 80px;
}

.intro {
    padding-top: 55px;
    padding-left: 150px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 18.85px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}

.contact {
    padding-left: 150px;
    padding-top: 45px;
    /* list-style-type: none; */
}

.header{
    padding-left: 20px;
}

.contact p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 18.75px;
    color: rgba(255, 255, 255, 1);
}

.contact img {
    height: 20px;
    width: 20px;
    padding: 20px;
}

.item1,
.item2,
.item3{
 list-style-type: none;
 display: flex;
}

.item1{
    height: 70px;
    width: 200px;
}

.item2{
    height: 50px;
    width: 117px;
}

.item3{
    height: 24px;
    width: 181px;
}

.item p {
    padding-left: 13px;
}

.media {
    height: 64px;
    width: 193px;
    padding-left: 150px;
    padding-top: 40px;
}

.media p {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 1);
}

.media ul {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    justify-content: space-between;
}

.media img{
  height: 20px;
  width: 20px;
  gap: 200px;   
}

.footer{
    height: 80px;
    width: 1565px;
    margin-top: 55px;
    text-align: center;
    border-top: 1px solid rgb(191, 185, 185);
}

.footer p{
    color: rgba(200, 200, 200, 0.5);
    padding-top: 15px;
}